body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.home, .detect, .info {
  text-align: center;
  margin-top: 80px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="file"] {
  margin-top: 20px;
}
